appnope==0.1.0
asgi-redis==0.8.3
asgiref==0.9.1
autobahn==0.13.0
channels==0.9.5
daphne==0.9.3
decorator==4.0.9
Django==1.9
gnureadline==6.3.3
haikunator==1.0.1
ipython==4.1.2
ipython-genutils==0.1.0
msgpack-python==0.4.7
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
redis==2.10.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
Twisted==16.0.0
txaio==2.2.2
zope.interface==4.1.3